{extend name="admin" /}
{block name="title"}<title>继承admin页面</title>{/block}
{block name="main-d2"}

{/block}
{block name="main-select"}
<table class="layui-table" lay-even="" lay-skin="row">
  <colgroup>
    <col width="80">
    <col width="120">
    <col width="200">
    <col width="80">
    <col width="80">
    <col width="200">
  </colgroup>
  <thead>
    <tr>
      <th>ID号</th>
      <th>图片路径</th>
      <th>作品名</th>
      <th>类型</th>
      <th>状态</th>
      <th>操作</th>
    </tr> 
  </thead>
  <tbody>
{volist name='list' id='m_select'}
    <tr>
      <td>{$m_select.Id}</td>
      <td>{$m_select.m_image}</td>
      <td>{$m_select.m_name}</td>
      <td>{$m_select.m_kind}</td>
      <td>{$m_select.m_status}</td>
      <td>
        <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">文字</button>
        <a href="admin_add">
        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon"></i></button>
        </a>
        <a href="admin_update_check?id={$m_select.Id}">
        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon"></i></button>
        </a>
        <a href="admin_delete_check?id={$m_select.Id}">
        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon"></i></button>
        </a>
        </div>
      </td> 
    </tr>
{/volist}
  </tbody>
</table> 
<!-- <script>
layui.use(['rate'], function(){
  var rate = layui.rate; 
  //显示文字
  rate.render({
    elem: '#test2'
    ,value: 3 //初始值
    ,text: true //开启文本
  }); 
});
</script>
<td><div id="test2"></div></td> -->
   

{/block}
